.container {
  position: relative;
  width: fit-content;
  height: fit-content;
  background-color: rgb(109, 142, 142);
}

.discount {
  position: absolute;
  background-color: #ee4405;
  color: aliceblue;
  font-weight: bold;
  right: 0;
  top: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 15px;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}

.image {
  box-sizing: border-box;
  padding: 40px;
}

.image img {
  width: 400px;
  object-fit: cover;
}

.content {
  box-sizing: border-box;
  padding: 20px;
}

.shop {
  text-transform: uppercase;
  color: #626262;
  font-family: roboto;
  font-style: normal;
}

.prices {
  display: flex;
  gap: 10px;
}

.prices .price {
  font-size: 20px;
  font-weight: bold;
  color: #77a71d;
}

.prices .oldPrice {
  font-size: 15px;
  font-weight: 100;
}

.prices .sale {
  font-size: 15px;
  font-weight: 400;
  color: #ee4405;
}

.name {
  color: #398de0;
  margin-top: 15px;
}

.rate {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px 0;
}

.inventory {
  color: #a4a4a4;
}
