.container {
    width: 300px;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    background-color: aqua;
}

.label {
    color: #ffffff;
    margin: 5px;
    text-transform: uppercase;
}

.content {
    color: #ffffff;
    margin: 5px;
}

.icon {}

.text {
    margin: 0 10px;
}