/* ImageView.module.css */
.thumbnailContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.thumbnail {
  width: 80px;
  height: 60px;
  margin-bottom: 10px;
  object-fit: cover;
  cursor: pointer;
  margin-right: 10px;
  opacity: 0.5;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
.thumbnail.selected {
  opacity: 1; /* Đặt độ trong suốt cho thumbnail được chọn */
}

.thumbnail:hover {
  border-color: blueviolet;
}

.imageBig {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: contain;
  margin-bottom: 20px;
}

.containerBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}

/* Disabled button styles */
.button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
